.main {
    margin: auto;
    width: 20%;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid red;
}

.fieldRow1 {
    display: inline-block;
    padding-top: .75em;
}

.fieldRow2 {
    padding-left: 6em;
}

#btnSection {
    text-align: center;
}