.header {
    text-align: center;
}

#primary {
    margin: auto;
    width: 30%;
    margin-top: 3%;
    padding: 10px;
    border: 1px solid red;
}

#secondary {
    margin: auto;
    width: 30%;
    margin-top: 2%;
    padding: 10px;
    border: 1px solid red;
}

.fieldRow1 {
    display: inline-block;
    padding-top: .75em;
}

.fieldRow2 {
    padding-left: 4em;
}

.fieldRow3 {
    padding-left: 4em;
}

/* Need to update this to be in line with column 3. May need to separate into 3 divs? */
.fieldRow3x2 {
    padding-left: 4em;
}

#btnSection {
    text-align: center;
}